.guitar {
  margin-top: 64px;
  max-width: 90vw;
  overflow-x: scroll;
}

.fretNumWrap {
  white-space: nowrap;
}

.fretNum {
  min-width: 64px;
  min-height: 32px;
  display: inline-block;
  text-align: center;
}

.fretNum.firstFretNum {
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: white;
}
