.notes {
  display: flex;
  align-items: center;
}

.note {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  margin-top: 32px;
}

select {
  font-size: large;
}

@media screen and (max-width: 412px) {
  .note {
    min-width: 36px;
  }
}
